{% extends "index.html" %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    .comment-content,
    .comment-content .comment-header,
    .comment-username, .comment-timestamp,
    .comment-content p { 
        color: #F7C815;
    }
    .comment-content {
        background-color: black;
        padding: 10px;          
        margin-top: 3px;      
    }
    .comment-header {
        font-weight: bold;     
    }
    #commentChart {
        margin-left: auto;
        margin-right: 10%; 
        margin-top: 1%;
    }
    .stock-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        max-width: 600px;
        margin: auto;
    }
    
    .stock-item {
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    
    .stock-title {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
    }
    
    .stock-price {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .stock-change {
        font-size: 14px;
        font-weight: bold;
    }
    .content-row {
        display: flex;
        justify-content: space-around; 
        align-items: flex-start; 
        margin-top: 20px; 
    }
    .stock-container, #commentChart {
        flex: 1 1 45%;
        min-width: 300px;
    }
    
    #commentChart {
        height: auto;
        aspect-ratio: 2 / 1;
    }
    @keyframes flash {
        0%, 100% { background-color: transparent; }
        50% { background-color: yellow; }
    }
    
    .stock-price {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;  
    }
    
    .stock-price.flash {
        animation: flash 1s; 
    }
    </style>
    <div class="discussion-content">
        
        <div class="content-row">
            <div class="stock-container">
                <div class="stock-item" id="stock-binancebtcusdt">
                    <div class="stock-title">BTC</div>
                    <div class="stock-price" id="price-binance:btcusdt">-</div>
                </div>
                <div class="stock-item" id="stock-nvda">
                    <div class="stock-title">NVDA</div>
                    <div class="stock-price" id="price-nvda">-</div>
                </div>
                <div class="stock-item" id="stock-tsla">
                    <div class="stock-title">TSLA</div>
                    <div class="stock-price" id="price-tsla">-</div>
                </div>
                <div class="stock-item" id="stock-googl">
                    <div class="stock-title">GOOGL</div>
                    <div class="stock-price" id="price-googl">-</div>
                </div>
                <div class="stock-item" id="stock-msft">
                    <div class="stock-title">MSFT</div>
                    <div class="stock-price" id="price-msft">-</div>
                </div>
                <div class="stock-item" id="stock-aapl">
                    <div class="stock-title">AAPL</div>
                    <div class="stock-price" id="price-aapl">-</div>
                </div>
                <div class="stock-item" id="stock-amzn">
                    <div class="stock-title">AMZN</div>
                    <div class="stock-price" id="price-amzn">-</div>
                </div>
                <div class="stock-item" id="stock-meta">
                    <div class="stock-title">META</div>
                    <div class="stock-price" id="price-meta">-</div>
                </div>
            </div>
            <canvas id="commentChart"></canvas>
        </div>
        <h2>Discussion Page</h2>
        <p>Welcome to the discussion page. Please select a company or the overall economy to comment on:</p>
    
        <form id="comment-form" action="/post_comment" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="company">Select a company or overall economy:</label>
            <select id="company" name="company">
                <option value="overall">Overall Economy</option>
                <option value="NVDA">NVDA</option>
                <option value="GOOG">GOOG</option>
                <option value="AMZN">AMZN</option>
                <option value="TSLA">TSLA</option>
                <option value="META">META</option>
                <option value="MSFT">MSFT</option>
                <option value="AAPL">AAPL</option>
            </select>
            <br>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
        <div id="comments">
            {% for comment in comments %}
            <div class="comment comment-content">
                <div class="comment-header">
                    <span class="comment-username">{{ comment.username }}:</span>
                </div>
                <p>{{ comment.comment }}</p>
                <span class="comment-timestamp" data-utc-time="{{ comment.timestamp.isoformat() }}">{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('discussion', page=page-1) }}">Previous</a>
            {% endif %}
            {% if page * 30 < total_comments %}
            <a href="{{ url_for('discussion', page=page+1) }}">Next</a>
            {% endif %}
        </div>
        <a href="{{ url_for('profile') }}" class="user-icon">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="Profile">
            {% if username %}
            <p>Hi, {{ username }}!</p>
            {% endif %}
        </a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const timestampElements = document.querySelectorAll('.comment-timestamp');
            timestampElements.forEach(element => {
                const utcTime = element.getAttribute('data-utc-time');
                const utcDate = new Date(utcTime);
                utcDate.setHours(utcDate.getHours() + 8);
        
                element.textContent = utcDate.toLocaleString('en-US', {
                    year: 'numeric', month: '2-digit', day: '2-digit',
                    hour: '2-digit', minute: '2-digit', second: '2-digit'
                });
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
            const ctx = document.getElementById('commentChart').getContext('2d');
            const commentChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [],  
                    datasets: [{
                        label: 'Number of Comments',
                        data: [], 
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y',
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        function fetchData() {
            fetch('/api/comment_stats')
                .then(response => response.json())
                .then(data => {
                    const sortedKeys = Object.keys(data).sort((a, b) => data[b] - data[a]);
                    const sortedValues = sortedKeys.map(key => data[key]);
                    commentChart.data.labels = sortedKeys;
                    commentChart.data.datasets[0].data = sortedValues;
                    commentChart.update();
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        fetchData();
        setInterval(fetchData, 1000);  
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            setInterval(fetchStockData, 5000);
        });
        
        function fetchStockData() {
            fetch('/stock_price')
                .then(response => response.json())
                .then(data => {
                    console.log("Received stock data: ", data);
                    updateStockPrices(data);
                })
                .catch(error => console.error('Error fetching stock data:', error));
        }
        
        function updateStockPrices(data) {
            Object.keys(data).forEach(function(company) {
                var priceElement = document.getElementById('price-' + company.toLowerCase());
                if (priceElement) {
                    if (priceElement.textContent !== data[company].toString()) {
                        priceElement.textContent = data[company];
                        priceElement.classList.add('flash');
                        setTimeout(function() {
                            priceElement.classList.remove('flash');
                        }, 1000);
                    }
                }
            });
        }        
        
    </script>
{% endblock %}
