<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="line"></div>
    <div class="text">
        <p class="hover-effect" id="hover1">Why social media sentiment analysis?</p>
        <p class="hover-effect" id="hover2">Real-time stock price and Reddit comment</p>
        <p class="hover-effect" id="hover3">Join the discussion!</p>
    </div>
    <div>
        <h1 id="welcome-message" style="opacity: 0;">Welcome to TradeChat</h1>
        <h1 class="header">Navigate Market Sentiment: Twitter Trends and Stock Correlations</h1>
        <div class="icon-row">
            {% for icon in icons %}
                <img src="{{ url_for('static', filename='images/company/' ~ icon) }}" alt="{{ icon.split('.')[0] }}" class="company-icon" onclick="showResult('{{ icon.split('.')[0] }}')">
            {% endfor %}
        </div>
    </div>    

    <div id="result-container">
        <div id="plotly-chart"></div>
    </div>

    <a href="{{ url_for('signup') }}" class="user-icon">
        <img src="{{ url_for('static', filename='images/user.png') }}" alt="SignUp">
    </a>
</body>
<script>
    var hoverElements = document.querySelectorAll('.hover-effect');
    hoverElements.forEach(function(element) {
        element.addEventListener('mouseenter', function() {
            this.style.transform = 'scale(1.1)';
        });
        element.addEventListener('mouseleave', function() {
            this.style.transform = 'scale(1)';
        });
    });
    function showResult(companyName) {
        console.log(companyName);
        // Get the CSRF token from the HTML meta tag
        var csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        // Send the company symbol to the backend along with the CSRF token
        fetch('/twitter_sentiment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken  // Include the CSRF token in the request headers
            },
            body: JSON.stringify({ company: companyName }),
        })
        .then(response => response.json()) // Parse response as JSON
        .then(data => {
            // Render Plotly chart using the received data
            Plotly.newPlot('plotly-chart', data);
        })
        .catch(error => {
            console.error('Error:', error);
        }); 
    }

    window.onload = function() {
        document.getElementById('welcome-message').style.opacity = 1;
    };
</script>
</html>
