<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body {
    background-color: #888382; 
    margin: 0; 
    padding: 0; 
}
.line{
    position: absolute;
    top: 20px;
    right: 400px;
    width: 2px;
    height: 120px;
    background-color: black;
}
.text {
    position: absolute;
    top: 20px;
    right: 100px; 
    color: black;
}
</style>
<body>
    <div class="line"></div>
    <div class="text">
        <p>Why social media sentiment analysis?</p>
        <p>Real-time stock price and Reddit comment</p>
        <p>Join the discussion!</p>
    </div>
    <div>
        <h1>Navigate Market Sentiment: Twitter Trends and Stock Correlations</h1>
    </div>
</body>
</html>